annotated-types==0.7.0
asgiref==3.11.1
Django==6.0.5
pillow==12.2.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
setuptools==68.1.2
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
wheel==0.42.0
